<div class="custom-control custom-switch form-check">
    {{#if dbPlace.has_water}}
    <input type="checkbox" class="custom-control-input" id="hasWater" checked="true" disabled="true">
    <label class="custom-control-label" for="hasWater">Has water</label>
    {{else}}
    <input type="checkbox" class="custom-control-input" id="hasWater" disabled="true">
    <label class="custom-control-label" for="hasWater">Has water</label>
    {{/if}}
</div>

<div class="custom-control custom-switch form-check">
    {{#if dbPlace.has_soap}}
    <input type="checkbox" class="custom-control-input" id="hasSoap" checked="true" disabled="true">
    <label class="custom-control-label" for="hasSoap">Has soap</label>
    {{else}}
    <input type="checkbox" class="custom-control-input" id="hasSoap" disabled="true">
    <label class="custom-control-label" for="hasSoap">Has soap</label>
    {{/if}}
</div>

<div class="custom-control custom-switch form-check">
    {{#if dbPlace.has_paper}}
    <input type="checkbox" class="custom-control-input" id="hasPaper" checked="true" disabled="true">
    <label class="custom-control-label" for="hasPaper">Has toilet paper</label>
    {{else}}
    <input type="checkbox" class="custom-control-input" id="hasPaper" disabled="true">
    <label class="custom-control-label" for="hasPaper">Has toilet paper</label>
    {{/if}}
</div>
<div class="custom-control custom-switch form-check">
    {{#if dbPlace.has_mirror}}
    <input type="checkbox" class="custom-control-input" id="hasMirror" checked="true" disabled="true">
    <label class="custom-control-label" for="hasMirror">Has mirror</label>
    {{else}}
    <input type="checkbox" class="custom-control-input" id="hasMirror" disabled="true">
    <label class="custom-control-label" for="hasMirror">Has mirror</label>
    {{/if}}
</div>