body {
  --accent: #026670;
  --white: #EDEAE5;
  --highlight: #FEF9C7;
  --altaccent: #9FEDD7;
  --althighlight: #FCE181;
  /* --althighlight: #FDDB27FF; */
  --black: #1a1a1a;
  background-color: var(--accent);
}