     <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
       <img src="/img/loo_templogo.png" alt="Loo" style="width:75px">
    </div>
  </div>
</nav>
<div class="row">
       <div class="col-lg">
           <div class="card" id="addLooCard">
                <div class="card-body">
                    <h5 class="card-title">Loo Details</h5>

                    <div class="row">
                        <div class="col-lg">
                            <p class="placeAddress">
                                <!--{{data from click event}}-->
                            </p>
                        </div> 
                    </div>

                    <div class="row">
                        <!-- {{place images partials}} -->
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <!-- check boxes going here -->
                        </div>
                        
                        <div class="col-sm">
                            <!-- check boxes going here -->
                        </div>
                    </div>


            <button type="submit" class="btn btn-lg btn-warning">Loo!</button>

            </form>
        </div>
    </div>
       </div>
   </div> 
    

