<div class="row">
  <div class="col-lg">
    <!-- will this be a different route if accessed from home nearby page to ADD versus if UPDATED from Detailed View page? So maybe this is dynamic and we code in what we want it to say based on the click that calls this route? -->
    <h2 class="addNew">Add New Loo!</h2>
  </div>
</div>

<div class="row">
    <div class="col-lg">
        <form class="addLoo">
            <div class="form-row">
                <div class="form-group">
                    <label for="looName">Name</label>
                    <input type="text" class="form-control" id="looName" name="location_name">
                </div>
            </div>

            <div class="form-group">
                <label for="inputAddress">Street Address</label>
                <input type="text" class="form-control" id="looStreet" name="street_address">
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="looCity">City</label>
                    <input type="text" class="form-control" id="looCity">
                </div>
                <div class="form-group col-md-4">
                    <label for="looState">State</label>
                    <select id="looState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="looZip">Zip</label>
                    <input type="text" class="form-control" id="looZip">
                </div>
            </div>
            <!-- these are going to be all the check boxes for the amenities -->
            <!-- Also going to need a search bar that will auto-populate the address -->
            {{!-- <div class="form-group">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
                </div>
            </div> --}}
            <button type="submit" class="btn btn-lg btn-warning">Add Loo!</button>
        </form>
    </div>
</div>