    <!-- Row 1 (map and locations all one row with sub-rows) -->
    <div class="row">
        <div class="col-lg">
            <h4 class="nearbyLoos">Loos Near You</h4>
        </div>
    </div>
    <!-- Row 2 (add button) -->
    {{!-- <div class="row">	
        <a href="/search" class="btn btn-warning btn-lg active" role="button" aria-pressed="true"><i class="fas fa-plus"></i>New Loo</a> --}}
    {{!-- </div> --}}
    <!-- Row 3 (map in column 1 and loos in column 2) -->
    <div class="row">
        <!-- Col 1 - Map -->
        <div class="col-lg">
            <div class-="row">
            <!-- Dynamically generated map -->
                <div id="map" class="d-inline-flex p-2">{{map}}</div>
            </div>
            <div class="row">
                <a href="/search" class="btn btn-warning btn-lg active" role="button" aria-pressed="true"><i class="fas fa-plus"></i>New Loo</a>
            </div>
        </div>

        <!-- Col 2 - Locations -->
        <div class="col-lg">
            <div class="looCards"></div>
        </div>
    </div>

    <div id="mapsource" data-source="home"></div>



  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{Google_Maps_Key}}"
    type="text/javascript">
</script>
<script src="/js/maps.js"></script>