    <!-- Row 1 (map and locations all one row with sub-rows) -->
    <div class="row">
        <!-- Col 1 - Map -->
        <div class="col-lg">
            <!-- Dynamically generated map -->
            <div id="map" class="d-inline-flex p-2">{{map}}</div>
        </div>

        <!-- Col 2 - Locations -->
        <div class="col-lg">
            <h4 class="nearbyLoos">Loos Near You</h4>
            <div class="looCards"></div>
        </div>
    </div>

        <div class="row">	
            <a href="/search" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">Add New Loo</a>
        </div>
    <div id="mapsource" data-source="home"></div>



  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOQcy72gJ2-VQ5yICeoTAdMKkTjZ5z_VE"
    type="text/javascript">
</script>
<script src="/js/maps.js"></script>