
<div class="card" id="logoutCard">

    <div class="card-header">
<h1>Too-dah-Loo! <img src="/img/Camping.jpg" alt="paper roll" style="width:100px"></h1>
       <div class="card-body">
           <h2 class="bye" style="text-align:center;">Come again soon.</h2>
           <img src="/img/bano.jpeg" alt="Loo" id="bano" style="width:80%" >
    </div>
    </div>
