<div class="card" id="logoutCard">

    <div class="card-header">
      <h1>Too-dah-Loo!</h1></div>
       <div class="card-body">
           <h2>Come again soon!</h2>
           <br>
       <img src="/img/loo_templogo.png" alt="Loo" style="width:75px">
    </div>
    </div>
