<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
<div class="row">
    <div class="col-sm">
        <!-- This file needs a search bar -->
        <form id="searchForm" class="member-name">
            <div class="input-group mb-3">
                <input id="searchInput" type="text" class="form-control" placeholder="Lookin for new loo?" aria-label="Lookin for a new loo?" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-light" type="button" id="searchBtn"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- If user does not search, map with nearby populates -->
<div class="row">
    <div class="col-sm">
        <div class="searchMap" id="map">{{map}}</div>
    </div>
</div>

<!-- If user does search, map will populate with that location, this needs to be determined in the JS -->

<div id="placeCards" class="row">
    <!--partials will go here as cards in separate columns -->
</div>


<!-- Each card needs to have a click event and id that specifies which address to populate on the add.handlebars--> 
<div id="mapsource" data-source="search"></div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOQcy72gJ2-VQ5yICeoTAdMKkTjZ5z_VE"
    type="text/javascript">
</script>
<script src="/js/maps.js"></script>