
  <div class="card" id="signUpCard">
    <div class="card-header">Sign Up</div>

    <div class="card-body">
      <form class="signup">
        <div class="form-group signUp">
          <label for="inputEmail">Email Address</label>
          <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="userPassword" placeholder="Password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="rememberUser">
          <label class="form-check-label" for="remember">Remember Me</label>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up!</button>
        <label id="errorMessage" class="text-danger"></label>
      </form>
      <br />
          <p>Or log in <a id="loginLink" href="/login">here</a></p>
    </div>
  </div>
 <script type="text/javascript" src="js/signup.js"></script>