<div class="row">
  <div class="col-lg">
    <h2 class="signupPage">Sign Up</h2>
  </div>
</div>

<div class="row">
  <div class="col-lg">
    <form>
      <div class="form-group signUp">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="userPassword" placeholder="Password">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="rememberUser">
        <label class="form-check-label" for="remember">Remember Me</label>
      </div>
      <button type="submit" class="btn btn-primary">Sign Up!</button>
    </form>
     <br />
        <p>Or log in <a href="/login">here</a></p>
  </div>
</div>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/signup.js"></script>