#map {
  height: 500px;
  width: 100%;
}

.navbar {
  background-color: white;
  padding: 3px;
  margin-bottom: 15px;
  background-image: url("../img/tile.jpeg");
}

body {
  background-color: #1c75bc;
}

.nearbyLoos {
  padding: 15px;
  text-align: center;
}

#signUpCard,
#loginCard {
  max-width: 500px;
  margin: auto;
}

h4 {
  color: white;
}

.btn-lg {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.nearbyCard {
  width: 100%;
  margin: auto;
  height: 90%;
}

.nearbyCard:hover {
  background-color: bisque;
}

.img-thumbnail {
  float: left;
  width: 150px;
  margin-right: 6px;
  max-height: 150px;
  /* height: 140px; */
}

.clearfix {
  display: block;
  content: "";
  clear: both;
}
