#map {
  height: 720px;
  width: 1280px;
}

header {
  background-color: white;
  padding: 5px;
}

body {
  background-color: #1c75bc;
}

.nearbyLoos {
  padding: 15px;
  text-align: center;
}

#signUpCard,
#loginCard {
  max-width: 500px;
  margin: auto;
}

h4 {
  color: white;
}